* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #20394c;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  transition: color 0.3s, background-color 0.3s;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
}
